[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
pycdlib = "*"
pathlab = "*"
xxhash = "*"
numpy = "*"
libarchive-c = "*"
pefile = "*"
pycryptodome = "*"
enlighten = "*"
pyisotools = {file = "https://github.com/hiddenpalaceorg/pyisotools/archive/a9373ba22c8c5ce3c1af684f7e74a103e09aa3ac.zip"}
methodtools = "*"
machfs = "*"
rarfile = ">=4.2"
psutil = "*"
stream-inflate = "*"
inflate64 = "*"
bitarray = "*"
xor-cipher = "*"

[requires]
python_version = "3.8"
