[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
pycdlib = "*"
pathlab = "*"
xxhash = "*"
numpy = "*"
libarchive-c = "*"
pefile = "*"
pycryptodome = "*"
enlighten = "*"
pyisotools = "*"
methodtools = "*"
machfs = "*"
rarfile = "*"

[requires]
python_version = "3.8"
